# Ignore everything for now
*
!.gitignore
!README.md

# dist files needed to view the page
!index.html
!favicon*
!*.svg
!jquery.js
!main.min.js
!/country-photos/
!/country-photos/*.jpg

# template file without personal data
!index-unencrypted-template.html